<nav>
    <ul>
        <li><a href="/charts/radio1/chart/singles" data-path="radio1/chart/singles">The Official UK Top 40 Singles Chart</a></li>
        <li><a href="/charts/radio1/chart/albums" data-path="radio1/chart/albums">The Official UK Top 40 Albums Chart</a></li>
        <li><a href="/charts/1xtra/chart/singles" data-path="1xtra/chart/singles">The Official 1Xtra Chart</a></li>
        <li><a href="/charts/radio1/chart/dancesingles" data-path="radio1/chart/dancesingles">UK Top 40 Dance Singles</a></li>
    </ul>
</nav>